.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto 0 auto;
  width: 100%;
  text-align: left;
  background-color: white;
}

.header_logo img {
  width: 30vw;
  max-width: 200px;
}

@media only screen and (min-width: 480px) {
  .header_container {
    text-align: center;
  }

  #submit {
    align-self: center;
  }
}
