.mainCryptos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.oneCryptoDiv {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 150px;
  align-items: center;
  justify-content: center;
  background: #3d60a2;
}

.oneCryptoDiv:nth-child(4n-2),
.oneCryptoDiv:nth-child(4n-1) {
  background: #4369b2;
}

.oneCryptoDiv:hover {
  background-color: #5182df;
}

.oneCryptoDiv img {
  width: 20vw;
}

.oneCryptoDiv h1 {
  flex: 1;
  height: 50px;
  padding-top: 10px;
  font-size: 14px;
}

.oneCryptoDiv p {
  flex: 1;
  height: 50px;
  padding-top: 10px;
  font-size: 12px;
  padding-left: 1%;
}

.mainDivDetails {
  display: flex;
  flex-direction: column;
}

#submit {
  display: flex;
  border: 1px solid gray;
  height: 30px;
  width: 80vw;
  max-width: 300px;
  margin-bottom: 12px;
}

.search {
  height: 30px;
}

.input {
  height: 28px;
  margin-bottom: 10px;
  width: 100vw;
  border: none;
  outline: none;
}

.input:focus {
  border: none;
}

@media only screen and (min-width: 480px) {
  .oneCryptoDiv {
    /* border: 1px solid rgb(85, 85, 179); */
    width: 220px;
    height: 220px;
  }

  .oneCryptoDiv h1 {
    font-size: 18px;
  }

  .oneCryptoDiv img {
    width: 20vw;
  }

  .oneCryptoDiv p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) {
  .oneCryptoDiv {
    width: 240px;
    height: 240px;
  }

  .oneCryptoDiv:nth-child(4n-2),
  .oneCryptoDiv:nth-child(4n-1) {
    background: #3d60a2;
  }

  .oneCryptoDiv:nth-child(2n) {
    background: #4369b2;
  }

  .oneCryptoDiv h1 {
    font-size: 20px;
  }

  .oneCryptoDiv img {
    width: 15vw;
  }

  .oneCryptoDiv p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .oneCryptoDiv {
    width: 260px;
    height: 260px;
  }

  .oneCryptoDiv:nth-child(4n-2),
  .oneCryptoDiv:nth-child(4n-1) {
    background: #3d60a2;
  }

  .oneCryptoDiv:nth-child(8n-6),
  .oneCryptoDiv:nth-child(8n-4),
  .oneCryptoDiv:nth-child(8n-3),
  .oneCryptoDiv:nth-child(8n-1) {
    background: #4369b2;
  }

  .oneCryptoDiv h1 {
    font-size: 20px;
  }

  .oneCryptoDiv img {
    width: 12vw;
  }

  .oneCryptoDiv p {
    font-size: 16px;
    height: 60px;
  }
}

@media only screen and (min-width: 1500px) {
  .oneCryptoDiv {
    width: 280px;
    height: 280px;
  }

  .oneCryptoDiv:nth-child(4n-2),
  .oneCryptoDiv:nth-child(4n-1) {
    background: #3d60a2;
  }

  .oneCryptoDiv:nth-child(8n-6),
  .oneCryptoDiv:nth-child(8n-4),
  .oneCryptoDiv:nth-child(8n-3),
  .oneCryptoDiv:nth-child(8n-1) {
    background: #3d60a2;
  }

  .oneCryptoDiv:nth-child(2n) {
    background: #4369b2;
  }

  .oneCryptoDiv img {
    width: 10vw;
  }
}
